{
  "presets": [
    [
      "latest", {
        "es2015": {
          "modules": false
        }
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    [
      "babel-plugin-transform-builtin-extend",
      {
        globals: ["Error", "Array"]
      }
    ]
  ]
}