{{#if name}}
	Здравствуйте, <b>{{name}}</b>!
{{else}}
	Здравствуйте!
{{/if}}<br>
Для смены пароля в информационной системе <a href="${mainLink}">«Генератор Форм».</a> перейдите по следующей ссылке:<br>
<a href="{{passSettingLing}}">{{passSettingLing}}</a>