{{#if name}}
	Здравствуйте, <b>{{name}}</b>!
{{else}}
	Здравствуйте!
{{/if}}<br>
Для Вас была создана учетная запись в районной автоматизированной системе контроля качества образования (<a href="${mainURL}">РАСККО</a>) ИМЦ Московского района.<br>
Логин: {{login}}
Пароль: {{password}}
