{{#if name}}
	Здравствуйте, <b>{{name}}</b>!
{{else}}
	Здравствуйте!
{{/if}}<br>
Для Вас была создана учетная запись в информационной системе ИМЦ Московского района <a href="${link}">«Генератор Форм».</a><br>
В качестве логина для входа в систему используется
текущий адрес электронной почты.<br>
Для создания пароля проследуйте по следующей ссылке:<br>
<a href="{{passSettingLing}}">{{passSettingLing}}</a>