.input-item {
  @include generator-item;

  &.dragging {
    @include generator-item-focused;
  }

  &.hidden {
    display: none;
    visibility: hidden;
  }

  &.selected {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
  }
}

.input-item-title {
  flex-grow: 1;
  width: 1px;
}

.input-item-type {
  width: 125px;
  text-align: right;
}

.input-item-options {
  display: flex;
  align-self: stretch;
  align-items: center;
  padding: 5px 0 5px 5px;
  margin-left: 5px;
  border-left: 1px solid $card-border-color;

  .icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}