.orgs-list-header-cell-name,
.orgs-list-item-cell-name {
  width: 200px;
  flex-grow: 1;
}

.orgs-list-header-cell-chief,
.orgs-list-item-cell-chief {
  width: 200px;
  flex-grow: 1;
}

.orgs-list-header-cell-status,
.orgs-list-item-cell-status {
  width: 210px;
}
