//-----------------------------------------------------------------------------
// This file contains all styles related to the main content block
// of the site/application.
//-----------------------------------------------------------------------------

#page {
  padding-bottom: 50px;

  #page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;

    h1, h2, h3, h4, h5 {
      margin-top: 0;
    }

    .primary-action {
      font-size: 1.2rem;
    }
  }

  #page-content {
    margin-top: 25px;
  }
}