<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>SuperForms</title>
		<link rel="icon" href="data:,">
		{{#each styles}}
		<link rel="stylesheet" href="/styles/{{this}}">
		{{/each}}
	</head>
	<body>
		<div id="react-root">{{{reactHTML}}}</div>
		{{!-- initial Redux state injection --}}
		<script type="text/javascript">{{{preloadedState}}}</script>
		{{#each scripts}}
		<script type="text/javascript" src="/scripts/{{this}}"></script>
		{{/each}}
	</body>
</html>