.form-item-sample {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  border: 1px solid $card-border-color;

  &.draggable {
    cursor: grab;

    &:hover {
      transform: scale(1.01);
      background-color: rgb(240,248,255);
    }
  }

  &.dragging {
    cursor: grabbing;
    transform: scale(1.01);
    background-color: rgb(240,248,255);
  }
}