.input-item {
  @include generator-item;

  &.dragging {
    @include generator-item-focused;
  }

  &.hidden {
    display: none;
    visibility: hidden;
  }
}

.input-item-title {
  flex-grow: 1;
}

.input-item-type {

}

.input-item-options {
  display: flex;
  padding: 5px 0 5px 5px;
  margin-left: 5px;
  border-left: 1px solid $card-border-color;

  .icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}