.form-generator-side-bar.item-settings {
  > header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .item-settings-section {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid $card-border-color;

    &:last-child {
      border-bottom: 0;
    }
  }

  .item-settings-section-select-options-actions {
    display: flex;
    justify-content: space-between;
  }
}