fieldset.is-invalid {
  .form-check-label {
    color: #dc3545;
  }

  & ~ .invalid-feedback {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }
}

.input-check-wrapper {
  display: flex;
  flex-direction: column;

  fieldset {
    order: 1;
  }
}

.input-select-option-other {
  position: static;
  display: flex;
  align-items: center;
  margin-top: 5px;

  > input[type="checkbox"],
  > input[type="radio"] {
    margin-top: 0;
    margin-bottom: 0;
  }
}